In [60]:
import pandas as pd
import numpy as np

#### Exercise 1

In [61]:
# for this exercise, we will look at the model as a cat predictor
TP = 34
FP = 7
TN = 46
FN = 13
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
print(f'Accuracy of the cat predictor models is {Accuracy} %')

Accuracy of the cat predictor models is 80.0 %

- In the context of this problem, what is a false positive?
    - Predicted cat when its a dog
- In the context of this problem, what is a false negative?
    - Predicted dog when its actually a cat
- How would you describe this model?
    - This model is 80 percent accurate in predicting cat

In [3]:
# for this exercise, we will look at the model as a dog predictor
TP = 46
TN = 34
FP = 13
FN = 7
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
print(f'Accuracy of the dog predictor models is {Accuracy} %')

Accuracy of the dog predictor models is 80.0 %

- In the context of this problem, what is a false positive?
    - Predicted dog when its a cat
- In the context of this problem, what is a false negative?
    - Predicted cat when its actually a dog
- How would you describe this model?
    - This model is 80 percent accurate in predicting dog

#### Exercise 2
#### You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.
Use the predictions dataset and pandas to help answer the following questions:

In [4]:
c3 = pd.read_csv('c3.csv')

In [5]:
c3

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [6]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [7]:
# For model 1
pd.crosstab(c3.actual, c3.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [67]:

#In order to identify as many duck as possible that have defects we can use our model to calculate the true positive rate AKA 
# Recall
TP = 8
TN = 182
FP = 2
FN = 8
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy
Recall = TP/(TP+FN) * 100
Recall
print('Accuracy: ', Accuracy, '%')
print('Recall: ', Recall, '%')

Accuracy:  95.0 %
Recall:  50.0 %

In [68]:
# for model 2
pd.crosstab(c3.actual, c3.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [69]:
TP = 9
TN = 103
FP = 81
FN = 7
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy
Recall = TP/(TP+FN) * 100
Recall
print('Accuracy: ', Accuracy, '%')
print('Recall: ', Recall, '%')

Accuracy:  56.00000000000001 %
Recall:  56.25 %

In [70]:
# for model 3
pd.crosstab(c3.actual, c3.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [71]:
TP = 13
TN = 98
FP = 86
FN = 3
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy
Recall = TP/(TP+FN) * 100
Recall
print('Accuracy: ', Accuracy, '%')
print('Recall: ', Recall, '%')

Accuracy:  55.50000000000001 %
Recall:  81.25 %

Out of all three models, model 1 predicts the defect with highest accuracy, however model 3 has the highest recall rate

#### In order to correctly identify the duck with defects and to make sure we dont accidentally give out the vacation packages to people without defected duck, we use the precision metrics, the positive predictive value. This method is used when false positives are more expensice than false negatives

In [13]:
# For model 1, 
TP = 8
TN = 182
FP = 2
FN = 8

precision = TP/(TP+FP) * 100
precision

80.0

In [14]:
# For model 2
TP = 9
TN = 103
FP = 81
FN = 7
precision = TP/(TP+FP) * 100
precision

10.0

In [15]:
# for model 3
TP = 13
TN = 98
FP = 86
FN = 3
precision = TP/(TP+FP) * 100
precision

13.131313131313133

#### Based on the above results, model 1 is our model of choice

#### Exercise 3

#### You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).
At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).
Several models have already been developed with the data, and you can find their results here.
Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [16]:
paws = pd.read_csv('gives_you_paws.csv')

In [17]:
paws

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [18]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

#### To create a baseline model we choose the category with the highest value which is the dog from our data. So, when predicting if its a dog:
- if its a dog and our model predicts it as a dog, its True Positive
- if its a dog and our model predicts it to be not a dog, its False Negative
- if its not a dog and our model predicts it to be not a dog, its True Negative
- if its not a dog and our model predicts it to be a dog, its False Positive

In [19]:
# for the baseline model using actual value
TP = 3254
TN = 0 #   this value is 0 because we are not predicting not a dog
FP = 1746
FN = 0
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy

65.08

#### Our baseline model is 65% accurate.


#### Lets check out model 1

In [20]:
pd.crosstab(paws.actual, paws.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

#### lets calculate the accuracy of model 1 in predicting a dog, given a picture

In [21]:
TP = 2614
TN = 1423
FP = 323
FN = 640
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy

80.74

#### Right away, model 1 is better than our baseline model in terms of accuracy in predicting a dog, given a picture





#### Lets take a look at model 2

In [22]:
pd.crosstab(paws.actual, paws.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [23]:
TP = 1597
TN = 1555
FP = 191
FN = 1657
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy

63.04

#### Model 2 is worst than our baseline model



#### lets take a look at model 3

In [24]:
pd.crosstab(paws.actual, paws.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [25]:
TP = 1655
TN = 893
FP = 853
FN = 1599
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy

50.96000000000001

#### Model 3 is worse than baseline model and model1 and model 2



#### lets look at model 4

In [26]:
pd.crosstab(paws.actual, paws.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [27]:
TP = 3110
TN = 603
FP = 1143
FN = 144
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy

74.26

#### Model 4 is better than baseline model, model 2, and model 3. Since, model 1's accuracy is far better than rest of the models including the baseline,  our choice of model will be model 1

#### Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?
  - This can be dealt with 2 different approaches. For 1st approach, we can use the accuracy rate as a factor to chose a model for phase I. Because accuracy accounts for both the true positives and true negatives, when given pictures of cats and dogs, we want our model to correctly identify cats as cats and dogs as dogs. So, model 1 will be a best fit model for phase I.
  
  - Second approach is we can use a model with high recall/true positive rate. Recall/True positive rate is the models ability to find all the positve samples. Meaning, out of all the samples given, we want our model to identify as much dogs as dogs as possible for Phase I. So our model of choice is Model 4.

  - Regardless of what model we chose for phase I, we will choose the model with high precision rate for phase II. Because Precision/Positive Predictive Value is the ability of a model not to label as positive a sample that is negative. So, our model of choice is Model 1.

In [28]:
# Model 1 Recall
TP = 2614
TN = 1423
FP = 323
FN = 640
true_pos_1 = TP/(TP + FN) * 100
true_pos_1

80.3318992009834

In [29]:
# model 2 Recall
TP = 1597
TN = 1555
FP = 191
FN = 1657
true_pos_2 = TP/(TP + FN) * 100
true_pos_2

49.0780577750461

In [30]:
#model 3 Recall
TP = 1655
TN = 893
FP = 853
FN = 1599
true_pos_3 = TP/(TP + FN) * 100
true_pos_3

50.86047940995697

In [31]:
#model 4 Recall
TP = 3110
TN = 603
FP = 1143
FN = 144
true_pos_4 = TP/(TP + FN) * 100
true_pos_4

95.57467732022127

#### Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?
- So for phase I, again we will use Accuracy as a deciding factor. We will make sure to find the model with the high accuracy rate
- For phase 2, we will pick the model with the high precision rate for cat prediction

In [32]:
from sklearn.metrics import classification_report
import sklearn.metrics

In [76]:
pd.DataFrame(classification_report(paws.actual, paws.model1, output_dict = True))

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

#### We can see the accuracy for model 1(81%), highest amongst all the models. So, we will use this model during phase 1. The precision score, the ability of the classifier not to label as positive a sample that is negative, can be used during phase 1

In [75]:
pd.DataFrame(classification_report(paws.actual, paws.model2, output_dict = True))

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.484122     0.893177    0.6304     0.688649      0.750335
recall        0.890607     0.490781    0.6304     0.690694      0.630400
f1-score      0.627269     0.633479    0.6304     0.630374      0.631310
support    1746.000000  3254.000000    0.6304  5000.000000   5000.000000

In [74]:
pd.DataFrame(classification_report(paws.actual, paws.model3, output_dict = True))

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.358347     0.659888    0.5096     0.509118      0.554590
recall        0.511455     0.508605    0.5096     0.510030      0.509600
f1-score      0.421425     0.574453    0.5096     0.497939      0.521016
support    1746.000000  3254.000000    0.5096  5000.000000   5000.000000

In [73]:
pd.DataFrame(classification_report(paws.actual, paws.model4, output_dict = True))

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.807229     0.731249    0.7426     0.769239      0.757781
recall        0.345361     0.955747    0.7426     0.650554      0.742600
f1-score      0.483755     0.828560    0.7426     0.656157      0.708154
support    1746.000000  3254.000000    0.7426  5000.000000   5000.000000

#### Lets check the accuracy of the models

In [50]:
sklearn.metrics.accuracy_score(paws.actual, paws.model1)

0.8074

In [38]:
sklearn.metrics.accuracy_score(paws.actual, paws.model2)

0.6304

In [51]:
sklearn.metrics.accuracy_score(paws.actual, paws.model3)

0.5096

In [52]:
sklearn.metrics.accuracy_score(paws.actual, paws.model4)

0.7426

#### Lets check the precision of each model with dog as a pos_label

In [53]:
sklearn.metrics.precision_score(paws.actual, paws.model1, pos_label = 'dog')

0.8900238338440586

In [54]:
sklearn.metrics.precision_score(paws.actual, paws.model2, pos_label = 'dog')

0.8931767337807607

In [55]:
sklearn.metrics.precision_score(paws.actual, paws.model3, pos_label = 'dog')

0.6598883572567783

In [56]:
sklearn.metrics.precision_score(paws.actual, paws.model4, pos_label = 'dog')

0.7312485304490948

#### Lets check the recall of each model with pos_label as dog

In [44]:
sklearn.metrics.recall_score(paws.actual, paws.model1, pos_label = 'dog')

0.803318992009834

In [57]:
sklearn.metrics.recall_score(paws.actual, paws.model2, pos_label = 'dog')

0.49078057775046097

In [58]:
sklearn.metrics.recall_score(paws.actual, paws.model3, pos_label = 'dog')

0.5086047940995697

In [59]:
sklearn.metrics.recall_score(paws.actual, paws.model4, pos_label = 'dog')

0.9557467732022127